alembic==1.8.0
anyio==3.6.1
certifi==2022.6.15
charset-normalizer==2.0.12
fastapi==0.78.0
greenlet==1.1.2
idna==3.3
Mako==1.2.0
MarkupSafe==2.1.1
pydantic==1.9.1
requests==2.28.0
sniffio==1.2.0
uvicorn==0.17.6
SQLAlchemy==1.4.37
starlette==0.19.1
typing_extensions==4.2.0
urllib3==1.26.9
